
.tmp {
	color: red;
	font-weight: bold;
	font-size: 1.5em;
	font-style: italic;
	font-family: courier;
}
body {
	/* background-image:url("../images/container_page_large.jpg"); */
	background-color: black;
	color: white;
}

header.header-container {

}


nav.header-nav-menu ul {
	display: flex;
	justify-content: center;
	flex-direction: row

}

nav.header-nav-menu ul li {

	list-style-type: none;
	margin: 0 1%;
}



.page {

}

.page-calendar {

}

.event {

}

.event-date {

}

.event-title {

}

.event-content {

}

footer.footer-container {

}

.footer-nav-menu {

}
