
.tmp {
	color: red;
	font-weight: bold;
	font-size: 1.5em;
	font-style: italic;
	font-family: courier;
}
body {
	
	background-color: black;
	color: white;

}

.header-image {
	width: 100%;
	height: 1000px;
	background-image:url("../images/container_page_large.jpg");
	background-repeat: no-repeat;
}
nav.header-nav-menu {
	display: block;
	width: 90%;
	text-align: center;
	margin: auto;
}

header.header-container {
	display: initial;

}
nav.header-nav-menu ul li {
	
	list-style-type: none;
	margin: 0 1%;
	display: inline-block;
	vertical-align: middle;
}

.social {
	display: inline-block;
}

.social i {
	margin: 0 3%;
	vertical-align: middle;
	display: inline-block;
}
.page {

}

.page-calendar {

}

.event {

}

.event-date {

}

.event-title {

}

.event-content {

}

footer.footer-container {

}

.footer-nav-menu {

}
