
.tmp {
	color: red;
	font-weight: bold;
	font-size: 1.5em;
	font-style: italic;
	font-family: courier;
}

a {
	color: white;
}
body {

	background-color: black;
	color: white;

}

main {

}

section {
	border-bottom: 1px solid white;

}

section {

}

.header-image {
  position: relative;
  width: 100%;
  height: 1000px;
  background-image: url("../images/container_page_large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-origin: center; */
  /* how to move the bg relative to the viewport
	. scroll - default
	. fixed - stays fixed and the menu / text scrolls over it. inauguration view.
  */
  background-attachment: fixed;
}

/* should be 250-500px */
.header-image-logo-container {
	  width: 500px;
		margin-left: -250px;
    top: 30%;
		position: absolute;
    left: 50%;``
}

.header-image-logo {

}

.header-nav-container {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	background-color: black;
}

nav.header-nav-menu {
	display: block;
	width: 90%;
	text-align: center;
	margin: auto;
}

nav.header-nav-menu a {
	text-decoration: none;
}


header.header-container {
	display: initial;

}
nav.header-nav-menu ul li {

	list-style-type: none;
	margin: 0 1%;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.social {
	display: inline-block;
}

.social i {
	margin: 0 3%;
	vertical-align: middle;
	display: inline-block;
}


.text-container {
	-webkit-column-count: 2;
	/* width of each column. e.g
	  column-count: 2
	  column-width: 500px
	  columns will combine when viewport < 1000px */
	-webkit-column-width: 400px;
	-webkit-column-gap: 20px;
}
.calendar-container {

}

.event-container {

}

.event-date {

}

.event-title {

}

.event-content {

}


footer.footer-container {
}
footer.footer-container ul li {
	list-style-type: none;
	margin: 0 1%;
	display: inline-block;
	vertical-align: middle;
}

 /* same as .header-nav-menu */
nav.footer-nav-menu {

	width: 90%;
	text-align: center;
	margin: auto;

}
nav.footer-nav-menu a {
	text-decoration: none;
}

.footer-contact {
	    width: 16%;
    	margin: auto;
    	text-align: center;
}
